<?php
/**
 * @author        Olaf Braun <info@braun-development.de>
 * @copyright     2013-2018 Olaf Braun - Software Development
 * @license       GNU Lesser General Public License <https://opensource.org/licenses/LGPL-3.0>
 */
return [
	"driver"   => "pdo_mysql",
	"update"   => false,
	'user'     => '',
	'host'     => 'localhost',
	'dbname'   => '',
	'password' => ''
];